<div class="comment" data-id="<%= comment.escape('id') %>" style="margin-left: 2rem;<% if (parseInt(comment.escape('indents')) % 2 === 1) { %>background-color: #F7F7F8;<% } else { %>background-color: white;<% } %>">
  <div class="comment-vote-box" data-id="<%= comment.escape('id') %>">
    <button class="btn btn-xs upvote"><span class="glyphicon glyphicon-chevron-up"></span></button>
    <button class="btn btn-xs downvote"><span class="glyphicon glyphicon-chevron-down"></span></button>
  </div>
  <div class="comment-header">
    <div class="expand-minimize-section-<%= comment.escape('id') %>" style="display:inline-block;margin-right:-.5rem;">
      <button class="button-link comment-minimize" data-id="<%= comment.escape('id') %>" data-indents="<%= comment.escape('indents') %>">[-]</button>
    </div>
    <span style="color:#53ABDF;"><a href="#/u/<%= comment.escape('user') %>"><%= comment.escape('user') %></a></span> 
    <div class="date-time" data-id="<%= comment.escape('id') %>">
      <% comment_time = new Date(comment.escape('created_at')) %>
      <% if (comment_time.toTimeString().slice(0, 2) > 12) { %>
        <% var timeString = comment_time.toTimeString().slice(0, 2) - 12 %>
        at <%= timeString + comment_time.toTimeString().slice(2, 5) %>pm on <%= comment_time.toDateString() %>
      <% } else { %>
        at <%= comment_time.toTimeString().slice(0, 5) %>am on <%= comment_time.toDateString() %>
      <% } %>
    </div>
    <% if (comment.escape('current_user') === 'true') { %>
      <button class="button-link comment-destroy" style="color:#53ABDF;padding-right: 0rem;" data-id="<%= comment.escape('id') %>">remove</button>
    <% } %>
  </div>
  <div class="comment-content" data-id="<%= comment.escape('id') %>">
    <%= comment.escape('body') %>
  </div>
  <div class="comment-info">
  </div>
  <div class="sub-comments-<%= comment.escape('id') %>">
  </div>
  <div class="new-comment-<%= comment.escape('id') %>">
    <% if (Sync.Models.session) { %>
      <button class="button-link comment-reply" data-id="<%= comment.escape('id') %>" data-indents="<%= comment.escape('indents') %>">reply</button>
    <% } %>
  </div>
</div>