<div class="post-show" data-id="<%= post.escape('id') %>">
    <% if (Sync.Models.session) { %>
      
      <div class="show-score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up upvote <% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: 1 })) { %>
           upvoted
           <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div class="post-score" style="width:100%;text-align:center;  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;" data-id="<%= post.escape('id') %>">
          <% score = post.escape('upvotes') - post.escape('downvotes') %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down downvote <% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: -1 })) { %>
           downvoted
           <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } else { %>
      
      <div class="show-score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up post-upvote" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div style="width:100%;text-align:center;">
          <% score = parseInt(post.escape('upvotes') - post.escape('downvotes')) %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down post-downvote" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } %>
  <div class="post-section">
    <div class="title">
    <% if (post.escape('body')) { %>
      <h4><%= post.escape('title') %></h4>
      <div class="body">
        <%= post.escape('body') %>
      </div>
    <% } else { %>
      <h3><% var url = post.escape('url') %>
      <a href="<%= post.escape('url') %>" target="_blank"><%= post.escape('title') %></a> 
      <% if (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png" || url.slice(url.length - 3, url.length) === "gif") { %>
        <button class="btn btn-sm expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>" style="margin-bottom:.45rem;">
        <span class="glyphicon glyphicon-minus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
      <% } %>
      </h3>
    <% } %>
    </div>
    <div class="show-post-content" data-id="<%= post.escape('id') %>"><img class='sizeable-image' data-id="<%= post.escape('id') %>" src="<%= post.escape('url') %>"></div>
    <div class="post-info">
      <div class="poster in-show">
        <% var post_time = post.escape('created_at'); %>
        by <%= post.escape('username') %> to s/<%= post.escape('name') %>
      </div>
      <div class="date-time" data-id="<%= post.escape('id') %>">
        <% post_time = new Date(post.escape('created_at')) %>
        <% if (post_time.toTimeString().slice(0, 2) > 12) { %>
          <% var timeString = post_time.toTimeString().slice(0, 2) - 12 %>
          at <%= timeString + post_time.toTimeString().slice(2, 5) %>pm on <%= post_time.toDateString() %>
        <% } else { %>
          at <% if (parseInt(post_time.toTimeString().slice(0, 2)) > 9) { %><%= post_time.toTimeString().slice(0, 5) %><% } else { %><%= post_time.toTimeString().slice(1, 5) %><% } %>am on <%= post_time.toDateString() %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <div class='new-post-comment'>
      <% if (Sync.Models.session) { %>
        <button class="button-link post-reply" data-id="<%= post.escape('id') %>">reply</button>
      <% } else { %>
        <span style="padding-left: 1rem;"><a href="#/u/n">sign up</a> or <a href="#/u">sign in</a> to comment</span>
      <% } %>
    </div>
    <div class="comments-header">
      <% if (parseInt(post.escape('num_comments')) !== 0) { %>comments (<%= post.escape('num_comments') %>)<% } %>
    </div>
    <div class="comments">
      
    </div>
  </div>
  <br>
  <div id="back-to-link" style="margin-top: -1rem;margin-bottom: 1rem;">
  <% if (Sync.lastPage === "#") { %>
    <a href="#">< front page</a>
  <% } else { %>
    <a href="#/s/<%= post.escape('name') %>">< <%= post.escape('name') %></a>
  <% } %>
  </div>
</div>