<div class="post-show">
  <div class="show-score-box">
    <button class="btn btn-xs upvote"><span class="glyphicon glyphicon-chevron-up"></button><%= post.escape('upvotes') - post.escape('downvotes') %>
    <button class="btn btn-xs downvote"><span class="glyphicon glyphicon-chevron-down"></button>
  </div>
  <div class="post-section">
    <div class="title">
    <% if (post.escape('body')) { %>
      <h4><%= post.escape('title') %></h4>
      <div class="body">
        <%= post.escape('body') %>
      </div>
    <% } else { %>
      <h3><% var url = post.escape('url') %>
      <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a> 
      <% if (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png") { %>
        <button class="btn btn-sm expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>" style="margin-bottom:.45rem;">
        <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
      <% } %>
      </h3>
    <% } %>
    </div>
    <div class="show-post-content" data-id="<%= post.escape('id') %>"></div>
    <div class="post-info">
      <div class="poster in-show">
        <% var post_time = post.escape('created_at'); %>
        by <%= post.escape('username') %> to /<%= post.escape('name') %>
      </div>
      <div class="date-time" data-id="<%= post.escape('id') %>">
        <% post_time = new Date(post.escape('created_at')) %>
        <% if (post_time.toTimeString().slice(0, 2) > 12) { %>
          <% var timeString = post_time.toTimeString().slice(0, 2) - 12 %>
          at <%= timeString + post_time.toTimeString().slice(2, 5) %>pm on <%= post_time.toDateString() %>
        <% } else { %>
          at <%= post_time.toTimeString().slice(0, 5) %>am on <%= post_time.toDateString() %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="comment-section">
    <div class='new-post-comment'>
      <button class="button-link post-reply" data-id="<%= post.escape('id') %>">reply</button>
    </div>
    <div class="comments-header">
      <% if (numComments !== 0) { %>comments: <% } %>
    </div>
    <div class="comments">
      
    </div>
  </div>
  <br>
  <div style="margin-top: -1rem;margin-bottom: 1rem;">
  <% if (Sync.lastPage === "#") { %>
    <a href="#"><< front page</a>
  <% } else { %>
    <a href="#/s/<%= post.escape('name') %>"><< <%= post.escape('name') %></a>
  <% } %>
  </div>
</div>