<div class="post-show">
  <div class="post-section">
    <div class="title">
    <% if (post.escape('body')) { %>
      <h2><%= post.escape('title') %></h2>
      <div class="body">
        <%= post.escape('body') %>
      </div>
    <% } else { %>
      <h3><button class="btn btn-xs expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>">
        <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
      </button> <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a></h3>
    <% } %>
    </div>
    <div class="post-content" data-id="<%= post.escape('id') %>"></div>
    <div class="post-info">
      <div class="poster in-show">
        <% var post_time = post.escape('created_at'); %>
        by <%= post.escape('username') %> to /<%= post.escape('name') %>
      </div>
      <div class="date-time" data-id="<%= post.escape('id') %>">
        at 
        <% if (post_time.slice(11, 13) > 12) { %>
          <%= parseInt(post_time.slice(11, 13)) - 12 %><%= post_time.slice(13, 16) %> PM on <%= post_time.slice(5, 10) %>-<%= post_time.slice(0, 4) %>
        <% } else { %>
          <%= post_time.slice(11, 16) %> AM on <%= post_time.slice(5, 10) %>-<%= post_time.slice(0, 4) %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="comment-section">
    Comments:
    <div class="comments">
      
    </div>
  </div>
  <br>
  <a href="#/s/<%= post.escape('name') %>"><< <%= post.escape('name') %></a>
</div>