<div class="-page-header">
  <h2 style="margin-bottom:2.6rem;margin-top:.5rem">Front Page</h2>
</div>
<div class="posts">
  <% posts.forEach(function(post) { %>
    <div class="post-score-wrapper">
    <div class="score-box">
      <button class="btn btn-xs upvote"><span class="glyphicon glyphicon-chevron-up"></button><%= post.escape('upvotes') + "|" + post.escape('downvotes') %>
      <button class="btn btn-xs downvote"><span class="glyphicon glyphicon-chevron-down"></button>
    </div>
    <div class="post" data-id="<%= post.escape('id') %>">
      <div class="post-title" data-id="<%= post.escape('id') %>">
      <% if (post.escape('url')) { %>
        <button class="btn btn-xs expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>">
          <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
      <% } else { %>
        <button class="btn btn-xs expand-body" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>">
          <span class="glyphicon glyphicon-plus expand-body-span" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>"></span>
        </button>
      <% } %>
      <% if (post.escape('url')) { %>
        <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a> - /<%= post.escape('sub') %>
      <% } else { %>
        <%= post.escape('title') %> - text - /<%= post.escape('sub') %>
      <% } %>
      </div>
      <div class="post-content" data-id="<%= post.escape('id') %>"></div>
      <div class="post-info-wrapper" data-id="<%= post.escape('id') %>">
        <div class="poster">
          <% var post_time = post.escape('created_at'); %>
          by <%= post.escape('user') %> 
        </div>
        <div class="date-time" data-id="<%= post.escape('id') %>">
          at 
          <% if (post_time.slice(11, 13) > 12) { %>
            <%= parseInt(post_time.slice(11, 13)) - 12 %><%= post_time.slice(13, 16) %> PM on <%= post_time.slice(5, 10) %>-<%= post_time.slice(0, 4) %>
          <% } else { %>
            <%= post_time.slice(11, 16) %> AM on <%= post_time.slice(5, 10) %>-<%= post_time.slice(0, 4) %>
          <% } %>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
</div>