<div class="posts">
  <% posts.each(function(post, index) { %>
    <!-- post.set('index', index + 1) -->
    <div class="post-score-wrapper">
      <!-- top:1.33rem -->
      <div style="min-width: 2.5rem;position:absolute;top:2.33rem;font-size:120%;text-align:center;left: -.4%;"><% if ((parseInt(index) + 1) % 2 === 0) { %><span style="color:#9A9A9A;"><%= startIndex + index + 1 %></span><% } else { %><span style="color:#737373;"><%= startIndex + index + 1 %></span><% } %>
      </div>
      
    <% if (Sync.Models.session) { %>
      
      <div class="score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up upvote <% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: 1 })) { %>
           upvoted
           <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div class="post-score" style="width:100%;text-align:center;  font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;" data-id="<%= post.escape('id') %>">
          <% score = post.escape('upvotes') - post.escape('downvotes') %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down downvote <% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: -1 })) { %>
           downvoted
           <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } else { %>
      
      <div class="score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up upvote" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div style="width:100%;text-align:center; font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;">
          <% score = post.escape('upvotes') - post.escape('downvotes') %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down downvote" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } %>
    
    <% var url = post.escape('url')%>
    <% if (url && (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png")) { %>
      <% if ($(window).width() > 1000) { %>
        <div class="thumbnail-section">
          <img src="<%= post.escape('url') %>" class="thumbail-image">
        </div>
        <div class="thumbnail-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
        <% } else { %>
          <div class="text-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
      <% } %>
    <% } else { %>
      <div class="text-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
    <% } %>
      <div class="post-title" data-id="<%= post.escape('id') %>">
      <% if (post.escape('url')) { %>
        <% var url = post.escape('url') %>
        <% if (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png") { %>
        <button class="btn btn-xs expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>">
          <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
        <% } %>
      <% } else { %>
        <button class="btn btn-xs expand-body" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>">
          <span class="glyphicon glyphicon-plus expand-body-span" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>"></span>
        </button>
      <% } %>
      <% if (post.escape('url')) { %>
        <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a> - <a href="#/s/<%= post.escape('sub') %>">s/<%= post.escape('sub') %></a> <!-- <span style="color:#5FAEDF;">·</span> -->
      <% } else { %>
        <a href="#/p/c/<%= post.escape('id') %>"><%= post.escape('title') %></a> - text - <a href="#/s/<%= post.escape('sub') %>">s/<%= post.escape('sub') %></a> <!-- <span style="color:#5FAEDF;">·</span> -->
      <% } %>
      </div>
      <div class="post-content" data-id="<%= post.escape('id') %>"></div>
      <div class="post-info-wrapper" data-id="<%= post.escape('id') %>">
        <div class="poster">
          <span style="font-size:85%"><% if (post.escape('num_comments') !== "1") { %><a href="#/p/c/<%= post.escape('id') %>">(<%= post.escape('num_comments') %> comments)</a><% } else { %><a href="#/p/c/<%= post.escape('id') %>">(<%= post.escape('num_comments') %> comment)</a><% } %> - <% var post_time = post.escape('created_at'); %>
          by <a href="#/u/<%= post.escape('user') %>"><%= post.escape('user') %></a> 
        </span></div>
        <div class="date-time" data-id="<%= post.escape('id') %>">
          <% post_time = new Date(post.escape('created_at')) %>
          <% if (post_time.toTimeString().slice(0, 2) > 12) { %>
            <% var timeString = post_time.toTimeString().slice(0, 2) - 12 %>
            at <%= timeString + post_time.toTimeString().slice(2, 5) %>pm on <%= post_time.toDateString() %>
          <% } else { %>
            at <%= post_time.toTimeString().slice(0, 5) %>am on <%= post_time.toDateString() %>
          <% } %>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
  <% Sync.lastPage = '#' %>
</div>