<div class="-page-header">
  <% if (sub.escape('name')) { %>
    <%= sub.escape('name') %> - <%= sub.escape('description') %> &nbsp<span class="expand-minimize-all-posts"><button class="btn btn-default expand-all">+</button></span>
    <div class="sub-stats">
      <% var num_users = parseInt(sub.escape('num_users')) %>
      <% if (num_users === 1) { %>
        this sub has <%= sub.escape('num_users') %> user
      <% } else if (num_users > 1) { %>
        this sub has <%= sub.escape('num_users') %> users
      <% } else { %>
        this sub has no users
      <% } %>
    </div>
  <% } else { %>
    this sub doesn't exist yet. <a href="#">create?</a>
  <% } %>
</div>
<div class="posts">
  <% posts.each(function(post, index) { %>
    <div class="post-score-wrapper">
      <div style="min-width: 2.5rem;position:absolute;top:1.33rem;font-size:120%;text-align:center;left: -.7rem"><%= index + 1 %>
      </div>
    <div class="score-box">
      <button class="btn btn-xs upvote"><span class="glyphicon glyphicon-chevron-up"></span></button>
      <div style="width:100%;text-align:center;">
        <% score = post.escape('upvotes') - post.escape('downvotes') %>
        <% if (score > 0) { %>
          <%= post.escape('upvotes') - post.escape('downvotes') %>
        <% } else { %>
          0
        <% } %>
      </div>
      <button class="btn btn-xs downvote"><span class="glyphicon glyphicon-chevron-down"></span></button>
    </div>
    <% var url = post.escape('url')%>
    <% if (url && (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png")) { %>
      <div class="thumbnail-section">
          <img src="<%= post.escape('url') %>" class="thumbail-image">
      </div>
      <div class="thumbnail-post" data-id="<%= post.escape('id') %>">
    <% } else { %>
      <div class="text-post" data-id="<%= post.escape('id') %>">
    <% } %>
      <div class="post-title" data-id="<%= post.escape('id') %>">
      <% if (post.escape('url')) { %>
        <% var url = post.escape('url') %>
        <% if (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png") { %>
        <button class="btn btn-xs expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>">
          <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
        <% } %>
      <% } else { %>
        <button class="btn btn-xs expand-body" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>">
          <span class="glyphicon glyphicon-plus expand-body-span" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>"></span>
        </button>
      <% } %>
      <% if (post.escape('url')) { %>
        <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a>
      <% } else { %>
        <%= post.escape('title') %> - text
      <% } %>
      </div>
      <div class="post-content" data-id="<%= post.escape('id') %>"></div>
      <div class="post-info-wrapper" data-id="<%= post.escape('id') %>">
        <div class="poster" data-id="<%= post.escape('id') %>">
          <% var post_time = post.escape('created_at'); %>
          by <%= post.escape('user') %> 
        </div>
        <div class="date-time" data-id="<%= post.escape('id') %>">
          <% post_time = new Date(post.escape('created_at')) %>
          <% if (post_time.toTimeString().slice(0, 2) > 12) { %>
            <% var timeString = post_time.toTimeString().slice(0, 2) - 12 %>
            at <%= timeString + post_time.toTimeString().slice(2, 5) %>pm on <%= post_time.toDateString() %>
          <% } else { %>
            at <%= post_time.toTimeString().slice(0, 5) %>am on <%= post_time.toDateString() %>
          <% } %>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
  <a href="#" style="margin-left: 1rem;"><< front page</a>
</div>