<div class="-page-header">
  <%= sub.escape('name') %> - <%= sub.escape('description') %>
  <div class="sub-stats">
    <% var num_users = parseInt(sub.escape('num_users')) %>
    <% if (num_users === 1) { %>
      this sub has <%= sub.escape('num_users') %> user
    <% } else if (num_users > 1) { %>
      this sub has <%= sub.escape('num_users') %> users
    <% } else { %>
      this sub has no users
    <% } %>
  </div>
</div>
<div class="posts">
  <% posts.forEach(function(post) { %>
    <div class="post-score-wrapper">
    <div class="score-box">
      <button class="btn btn-xs upvote"><span class="glyphicon glyphicon-chevron-up"></button><%= post.escape('upvotes') + "|" + post.escape('downvotes') %>
      <button class="btn btn-xs downvote"><span class="glyphicon glyphicon-chevron-down"></button>
    </div>
    <div class="post" data-id="<%= post.escape('id') %>">
      <div class="post-title">
      <% if (post.escape('url')) { %>
        <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a>
      <% } else { %>
        <%= post.escape('title') %> - text
      <% } %>
      </div>
      <div class="post-info-wrapper">
        <div class="poster">
          <% var post_time = post.escape('created_at'); %>
          by <%= post.escape('user') %> 
        </div>
        <div class="date-time">
          at 
          <% if (post_time.slice(11, 13) > 12) { %>
            <%= parseInt(post_time.slice(11, 13)) - 12 %><%= post_time.slice(13, 19) %> PM on <%= post_time.slice(0, 10) %>
          <% } else { %>
            <%= post_time.slice(11, 19) %> AM on <%= post_time.slice(0, 10) %>
          <% } %>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
</div>