<div class="-page-header">
  <% if (sub.escape('name')) { %>
    s/<%= sub.escape('name') %> - <%= sub.escape('description') %>
    <span class="subscribe-section">
      <% if (sub.escape('submember') === "no") { %>
         - <button class="link-button subscribe">subscribe</button>
      <% } %>
    </span>
     &nbsp<span class="expand-minimize-all-posts"><button class="btn expand-all">+</button></span>
    <div class="sub-stats">
      <% var num_users = parseInt(sub.escape('num_users')) %>
      <% if (num_users === 1) { %>
        this sub has <%= sub.escape('num_users') %> user
      <% } else if (num_users > 1) { %>
        this sub has <%= sub.escape('num_users') %> users
      <% } else { %>
        this sub has no users
      <% } %>
      <span class="unsubscribe-section">
      <% if (sub.escape('submember') === "yes") { %>
         - <button class="link-button unsubscribe">unsubscribe</button>
      <% } %>
      </span>
    </div>
  <% } else { %>
    <% var url = Backbone.history.fragment %>
    <%= url %> - this sub doesn't exist yet. <a href="#/s/n/<%= url.slice(2, url.length) %>">create?</a>
  <% } %>
</div>
<a href="#" style="margin-left: 1.25rem;">< front page</a>
<% Sync.lastPage = sub.escape('name') %>
<% if (sub.escape('name')) { %>
  <a href="#/p" style="margin-left: 0rem;">post</a>
<% } %>