<div class="-page-header">
  <% if (sub.escape('name')) { %>
    s/<%= sub.escape('name') %> - <%= sub.escape('description') %>
    <span class="subscribe-section">
      <% if (sub.escape('submember') === "no") { %>
         - <button class="link-button subscribe">subscribe</button>
      <% } %>
    </span>
     &nbsp<span class="expand-minimize-all-posts"><button class="btn expand-all">+</button></span>
    <div class="sub-stats">
      <% var num_users = parseInt(sub.escape('num_users')) %>
      <% if (num_users === 1) { %>
        this sub has <%= sub.escape('num_users') %> user
      <% } else if (num_users > 1) { %>
        this sub has <%= sub.escape('num_users') %> users
      <% } else { %>
        this sub has no users
      <% } %>
      <span class="unsubscribe-section">
      <% if (sub.escape('submember') === "yes") { %>
         - <button class="link-button unsubscribe">unsubscribe</button>
      <% } %>
      </span>
    </div>
  <% } else { %>
    <% var url = Backbone.history.fragment %>
    <%= url %> - this sub doesn't exist yet. <a href="#/s/n/<%= url.slice(2, url.length) %>">create?</a>
  <% } %>
</div>
<div class="posts">
  <% posts.each(function(post, index) { %>
    <% post.set('index', index + 1) %>
    <div class="post-score-wrapper">
      <div style="min-width: 2.5rem;position:absolute;top:2.33rem;font-size:120%;text-align:center;left: -.4%;"><% if ((parseInt(index) + 1) % 2 === 0) { %><span style="color:#8A8A8A;"><%= index + 1 %></span><% } else { %><span style="color:#737373;"><%= index + 1 %></span><% } %>
      </div>
    <% if (Sync.Models.session) { %>
      
      <div class="score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up" style="<% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: 1 })) { %>
             color:#FF8B60;
             <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div style="width:100%;text-align:center;">
          <% score = post.escape('upvotes') - post.escape('downvotes') %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down" style="<% if (votes.findWhere({ voteable_type: "Post", voteable_id: parseInt(post.escape('id')), upordown: -1 })) { %>
             color:#9494FF;
             <% } %>" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } else { %>
      
      <div class="score-box">
        <button class="btn btn-xs upvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-up" data-id="<%= post.escape('id') %>"></span>
        </button>
        <div style="width:100%;text-align:center;">
          <% score = post.escape('upvotes') - post.escape('downvotes') %>
          <%= score %>
        </div>
        <button class="btn btn-xs downvote" data-id="<%= post.escape('id') %>">
          <span class="glyphicon glyphicon-chevron-down" data-id="<%= post.escape('id') %>"></span>
        </button>
      </div>
      
    <% } %>
    <% var url = post.escape('url')%>
    <% if (url && (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png")) { %>
      <% if ($(window).width() > 1000) { %>
        <div class="thumbnail-section">
          <img src="<%= post.escape('url') %>" class="thumbail-image">
        </div>
        <div class="thumbnail-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
        <% } else { %>
          <div class="text-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
      <% } %>
    <% } else { %>
      <div class="text-post" style="<% if ((parseInt(index) + 1) % 2 === 0) { %><% } %>" data-id="<%= post.escape('id') %>">
    <% } %>
      <div class="post-title" data-id="<%= post.escape('id') %>">
      <% if (post.escape('url')) { %>
        <% var url = post.escape('url') %>
        <% if (url.slice(url.length - 3, url.length) === "jpg" || url.slice(url.length - 3, url.length) === "png") { %>
        <button class="btn btn-xs expand-image" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>">
          <span class="glyphicon glyphicon-plus expand-image-span" data-id="<%= post.escape('id') %>" data-url="<%= post.escape('url') %>"></span>
        </button>
        <% } %>
      <% } else { %>
        <button class="btn btn-xs expand-body" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>">
          <span class="glyphicon glyphicon-plus expand-body-span" data-id="<%= post.escape('id') %>" data-body="<%= post.escape('body') %>"></span>
        </button>
      <% } %>
      <% if (post.escape('url')) { %>
        <a href="<%= post.escape('url') %>"><%= post.escape('title') %></a> <!-- <span style="color:#5FAEDF;">·</span> -->
      <% } else { %>
        <a href="#/p/c/<%= post.escape('id') %>"><%= post.escape('title') %></a> - text <!-- <span style="color:#5FAEDF;">·</span> -->
      <% } %>
      </div>
      <div class="post-content" data-id="<%= post.escape('id') %>"></div>
      <div class="post-info-wrapper" data-id="<%= post.escape('id') %>">
        <div class="poster" data-id="<%= post.escape('id') %>"><span style="font-size:85%"><% if (post.escape('num_comments') !== "1") { %><a href="#/p/c/<%= post.escape('id') %>">(<%= post.escape('num_comments') %> comments)</a><% } else { %><a href="#/p/c/<%= post.escape('id') %>">(<%= post.escape('num_comments') %> comment)</a><% } %> - <% var post_time = post.escape('created_at'); %>
          by <a href="#/u/<%= post.escape('user') %>"><%= post.escape('user') %></a> 
        </span></div>
        <div class="date-time" data-id="<%= post.escape('id') %>">
          <% post_time = new Date(post.escape('created_at')) %>
          <% if (post_time.toTimeString().slice(0, 2) > 12) { %>
            <% var timeString = post_time.toTimeString().slice(0, 2) - 12 %>
            at <%= timeString + post_time.toTimeString().slice(2, 5) %>pm on <%= post_time.toDateString() %>
          <% } else { %>
            at <%= post_time.toTimeString().slice(0, 5) %>am on <%= post_time.toDateString() %>
          <% } %>
        </div>
      </div>
      </div>
    </div>
  <% }) %>
  <a href="#" style="margin-left: 2.25rem;">< front page</a>
  <% Sync.lastPage = sub.escape('name') %>
  <a href="#/p" style="margin-left: 1rem;">post</a>
</div>