<!DOCTYPE html>
<html>
<head>
  <title>PsiReddit</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag(source = "favicon.ico") %>
  <% user_hash = signed_in? ? "#{current_user.username} #{current_user.points} #{current_user.email}" : "none" %>
  <script>$(Sync.setSession({ info: "<%= user_hash %>" }));</script>
</head>
<body>
  <%= render partial: "layouts/header" %>
  <%= yield %>
  <div style="text-align:right;padding-bottom:.5rem;">ğœ“&nbsp</div>
</body>
</html>
